/*
  - Nesse arquivo estão oas fontes usadas no projeto;
  - In this file are the fonts used in the project;
*/

@font-face {
  font-family: Quicksand;
  src: url("../fonts/quicksand/Quicksand-VariableFont_wght.ttf") format("opentype");
}

@font-face {
  font-family: Quicksand-Bold;
  src: url("../fonts/quicksand/static/Quicksand-Bold.ttf") format("opentype");
}

@font-face {
  font-family: Quicksand-Light;
  src: url("../fonts/quicksand/static/Quicksand-Light.ttf") format("opentype");
}

@font-face {
  font-family: Quicksand-Medium;
  src: url("../fonts/quicksand/static/Quicksand-Medium.ttf") format("opentype");
}

@font-face {
  font-family: Quicksand-Regular;
  src: url("../fonts/quicksand/static/Quicksand-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Quicksand-SemiBold;
  src: url("../fonts/quicksand/static/Quicksand-SemiBold.ttf") format("opentype");
}

