<!-- <nav class="p-grid navbar">
  <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 navbar-content">
    <ul>
      <li><a href="">HOME</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">EXPERIENCE</a></li>
      <li><a href="">WORDS</a></li>
      <li><a href="">OPINIONS</a></li>
    </ul>
  </div>
</nav> -->
<app-menu></app-menu>
<section class="container container-home">
  <section class="container-child home">
    <div class="p-grid">
      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 home-content">
        <div class="title p-sm-12 p-md-12 p-lg-12 p-xl-12">
          <h1>Hermino Junior</h1>
        </div>
        <div class="description p-sm-12 p-md-12 p-lg-12 p-xl-12">
          <h1>I'm a Developer and Research</h1>
        </div>
        <button class="btn-download-portifolio" pButton type="button" label="Download Portifolio"></button>
      </div>
    </div>
  </section>
</section>

<section class="container container-about">
  <section class="container-child about">
    <div class="p-grid">
      <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 about-content">

      </div>
    </div>
  </section>
</section>