<div class="p-d-flex p-flex-column container">
  <section>
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 home">
      <div class="overlay">
        <div class="p-d-flex p-flex-column content">
          <h1>Hermino Júnior</h1>
          <p>I'm a Developer and Research</p>
          <button pButton type="button" label="Download Protifólio"
            class="p-sm-2 p-md-2 p-lg-2 p-xl-2 btn-download-portifolio"></button>
        </div>
      </div>
    </div>
    <nav>
      <app-menu></app-menu>
    </nav>

  </section>

</div>
