div.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;

  top: 0;
  z-index: 2;
  margin-top: 150px;
  position: absolute;
  padding: 0 !important;

  background-color: rgba(255, 255, 255, .5);

  div.navbar-content {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      list-style: none;

      li {
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
